<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA_Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Receipt</title>
    </head>
    <body>
        <header>
            <nav>
                <main>
                    <h1>Create Receipt</h1>
                </main>
            </nav>
        </header>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>
        </main>
    </body>
</html>
